<h1>Edit <%= @pond.name %></h1>
  <%= form_for(@pond) do |f| %>
    <%= f.label :name %>
      <%= f.text_field :name %><br>
      <%= f.label :water_type %>
      <%= f.text_field :water_type %><br>
      <%= f.submit 'Update' %><br>
  <% end %><br>
<a href="/ponds">Cancel</a>